a {
	color: #fff;
}
a:hover {
	color: #0be;
	text-decoration: underline;
}

/*
Nunito font
https://github.com/vernnobile/NunitoFont
© 2014 Vernon Adams (vern@newtypography.co.uk).
Released under the SIL Open Font License, Version 1.1. See nunito-license.txt
*/
@font-face {
	font-family: 'Nunito';
	src:
		local('Nunito'),
		local('Nunito-Regular'),
		url('./assets/fonts/Nunito-Regular.ttf') format('opentype');
}

@font-face {
	font-family: 'Nunito';
	font-weight: 700;
	src:
		local('Nunito-Bold'),
		url('./assets/fonts/Nunito-Bold.ttf') format('opentype');
}

body {
	background-color: #111111;
	color: #fff;
	font-family: 'Nunito', sans-serif;
}

h1 {
	color: #fd0;
	font-size: 2.8em;
	margin: 0;
}

/* Adds colons and spaces to separate dt elements from dd elements. */
/* Note: It is recommended that you nest related dt and dd elements in a div or else this styling will not be applied. */
div > dt:last-of-type::after {
	content: ": ";
}

/* Make dd elements display inline. */
dl dt,
dl dd {
	display: inline;
}

/* Remove left margine on dd elements that is there by default, as it is not needed when the element is displayed inline. */
dl dd {
	margin-left: 0;
}

section {
	padding: 10px 0;
}
section h2 {
	text-align: center;
}

#aab-article {
	display: grid;
	grid-template-areas:
		"picture"
		"header"
		"story"
		"timeline";
}

@media (min-width: 500px) {
	#aab-article {
		grid-template-areas:
			"picture  header"
			"story    story"
			"timeline timeline";
	}

	#aab-figure > img {
		max-height: 300px;
	}
}

@media (min-width: 700px) {
	#aab-article {
		grid-template-areas:
			"picture  header   header"
			"picture  story    story"
			"timeline timeline timeline";
	}

	#aab-figure > img {
		max-height: none;
	}
}

@media (min-width: 1020px) {
	#aab-article {
		grid-template-areas:
			"picture header   header"
			"picture story    story"
			"picture timeline timeline";
	}

	#aab-figure > img {
		max-height: none;
	}
}

#aab-figure {
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-area: picture;
}
#aab-figure > img {
	width: 100%;
	object-fit: contain;
}

#aab-header {
	grid-area: header;

	text-align: center;
}

#aab-header-roles {
	font-style: italic;
}

#aab-story-section {
	grid-area: story;
}

#aab-timeline-section {
	grid-area: timeline;
}

#aab-timeline > div > dt {
	color: #fd0;
	font-weight: 600;
}

.zeb-footer {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 4px;
	justify-content: space-evenly;
	padding: 0 10px;
}

.zeb-footer p {
	margin: 4px 0;
}